:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-800: hsl(0, 0%, 6%);

  --clr-accent-100: hsl(275, 100%, 97%);
  --clr-accent-500: hsl(292, 16%, 49%);
  --clr-accent-700: hsl(292, 42%, 14%);
  --clr-accent-600: #9631cd;

  --ff-main: "Work Sans", sans-serif;

  --fw-regular: 400;
  --fw-semi: 600;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-main);

  background: var(--clr-accent-100);

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 15vh 1fr;
}

.header__background {
  padding-block: min(15vh, 100px);
  background: url(./assets/images/background-pattern-desktop.svg);
  background-position: center;
  background-size: cover;
  grid-column: 1/-1;
}

main {
  background-color: var(--clr-neutral-100);
  height: fit-content;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;

  grid-column: 4/7;

  hr {
    opacity: 0.3;
  }

  .faq__container {
    display: flex;
    gap: 2rem;
    margin-block: 1em;
  }

  .question__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      color: var(--clr-accent-600);
    }
  }

  article {
    padding-block: 1rem;
  }

  .question__title {
    font-weight: var(--fw-semi);
    font-size: clamp(1rem, 3vh, 2rem);
  }

  .question__content {
    margin-top: 2em;
    color: var(--clr-neutral-800);
    opacity: 0.7;
  }

  @media screen and (max-width: 1350px) {
    & {
      width: 50vw;
    }
  }

  @media screen and (max-width: 800px) {
    & {
      width: calc(100vw - 40px);
    }
  }
}

.hidden {
  display: none;
}
